# Generate Synthetic Dataset notebook

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import numpy as np
from data_manipulation_methods import *

## Dataset Generation

Some overall parameters

In [3]:
gamma = 0.3
np.random.seed(123) # for deterministic sampling (since generated data is not checked in)

### Step 1: Load data

In [4]:
file_dir = 'data'
file_name = df = 'Clothing_Shoes_and_Jewelry_5.json.gz'
# df = getDF(os.path.join(file_dir, file_name)) # full dataset
df = getDF(os.path.join(file_dir, file_name), max_lines=2e5) # large dataset (paper have about 16k after subsampling)
# df = getDF(os.path.join(file_dir, file_name), max_lines=1e3) # small dataset
print('Dataset Size:',df.shape[0])
df.head()

Num problem lines: 0: 100%|██████████| 1000/1000 [00:00<00:00, 116751.68it/s]

Dataset Size: 1000

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5.0,2,True,"05 4, 2014",A2IC3NZN488KWK,0871167042,{'Format:': ' Paperback'},Ruby Tulip,"This book has beautiful photos, good and under...",Unique designs,1399161600,NaN
1,5.0,0,True,"03 31, 2014",A30FG02C424EJ5,0871167042,{'Format:': ' Paperback'},NWCancerBaby,Loved their approach in this book and that it ...,Great Book,1396224000,NaN
2,5.0,0,True,"05 30, 2015",A2G9GWQEWWNQUB,0871167042,{'Format:': ' Paperback'},Pamelarenee,great,Five Stars,1432944000,NaN
3,5.0,0,True,"02 21, 2015",A3NI5OGW35SLY2,0871167042,{'Format:': ' Paperback'},Gail,"Always love the way Eva thinks, and there are ...",Great Book!,1424476800,NaN
4,5.0,0,True,"01 21, 2015",A1OPRA4NE56EV6,0871167042,{'Format:': ' Paperback'},carol a inman,Nice patterns,Five Stars,1421798400,NaN

### Step 2: Add labels and perturb data

In [5]:
label_Y(df)
generate_synthetic_text(df)
df.head()

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image,above3Stars,syntheticType,syntheticText,cfSyntheticText
0,5.0,2,True,"05 4, 2014",A2IC3NZN488KWK,0871167042,{'Format:': ' Paperback'},Ruby Tulip,"This book has beautiful photos, good and under...",Unique designs,1399161600,NaN,True,1,"This book has beautiful photos, good and under...","This book has beautiful photos, good and under..."
1,5.0,0,True,"03 31, 2014",A30FG02C424EJ5,0871167042,{'Format:': ' Paperback'},NWCancerBaby,Loved their approach in this book and that it ...,Great Book,1396224000,NaN,True,0,Loved their approach in this book and that it ...,Loved their approach in this book and that it ...
2,5.0,0,True,"05 30, 2015",A2G9GWQEWWNQUB,0871167042,{'Format:': ' Paperback'},Pamelarenee,great,Five Stars,1432944000,NaN,True,0,great,great
3,5.0,0,True,"02 21, 2015",A3NI5OGW35SLY2,0871167042,{'Format:': ' Paperback'},Gail,"Always love the way Eva thinks, and there are ...",Great Book!,1424476800,NaN,True,1,"Always love thezzzzz way Eva thinks, and there...","Always love thexxxxx way Eva thinks, and there..."
4,5.0,0,True,"01 21, 2015",A1OPRA4NE56EV6,0871167042,{'Format:': ' Paperback'},carol a inman,Nice patterns,Five Stars,1421798400,NaN,True,1,Nice patterns,Nice patterns

### Step 3: Subsample to get P(Y=1|Z=1) = P(Y=0|Z=0) = gamma

In [6]:
Y_label = 'above3Stars'
Z_label = 'syntheticType'

print("Before:")
N_Z1 = df[Y_label].sum()
N_Y1_Z1 = (df[Y_label] & (df[Z_label]==1)).sum()
P_Y1_Z1 = N_Y1_Z1 / N_Z1
N_Z0 = (~df[Y_label]).sum()
N_Y0_Z0 = ((~df[Y_label]) & (df[Z_label]==0)).sum()
P_Y0_Z0 = N_Y0_Z0 / N_Z0
print("N_Z1:", N_Z1,"N_Z1:",N_Z0)
print("N_Z1_Y1", N_Y1_Z1, "N_Z0_Y0",N_Y0_Z0)
print("P(Y1|Z1):",P_Y1_Z1,"P(Y0|Z0):", P_Y0_Z0)
subsample_data(df, gamma=gamma, Y_label=Y_label, Z_label=Z_label)
print("After:")
N_Z1 = df[Y_label].sum()
N_Y1_Z1 = (df[Y_label] & (df[Z_label]==1)).sum()
P_Y1_Z1 = N_Y1_Z1 / N_Z1
N_Z0 = (~df[Y_label]).sum()
N_Y0_Z0 = ((~df[Y_label]) & (df[Z_label]==0)).sum()
P_Y0_Z0 = N_Y0_Z0 / N_Z0
print("N_Z1:", N_Z1,"N_Z1:",N_Z0)
print("N_Z1_Y1", N_Y1_Z1, "N_Z0_Y0",N_Y0_Z0)
print("P(Y1|Z1):",P_Y1_Z1,"P(Y0|Z0):", P_Y0_Z0)

Before:
N_Z1: 733 N_Z1: 267
N_Z1_Y1 365 N_Z0_Y0 140
P(Y1|Z1): 0.4979536152796726 P(Y0|Z0): 0.5243445692883895
After:
N_Z1: 181 N_Z1: 181
N_Z1_Y1 54 N_Z0_Y0 54
P(Y1|Z1): 0.2983425414364641 P(Y0|Z0): 0.2983425414364641

### Step 4: Split to training and test set, making sure P(Y=1|Z=1) = P(Y=0|Z=0) = gamma

In [7]:
train_ratio = 0.8
epsilon = 0.03
max_iter = 100

train_df, test_df = split_dataset(df, train_ratio=train_ratio, gamma=gamma, epsilon=epsilon,
                                  max_iter=100,
                                  Y_label=Y_label, Z_label=Z_label)

print("Train size:", train_df.shape[0], "Test size:", test_df.shape[0])
N_Z1 = train_df[Y_label].sum()
N_Y1_Z1 = (train_df[Y_label] & (train_df[Z_label]==1)).sum()
P_Y1_Z1 = N_Y1_Z1 / N_Z1
N_Z0 = (~train_df[Y_label]).sum()
N_Y0_Z0 = ((~train_df[Y_label]) & (train_df[Z_label]==0)).sum()
P_Y0_Z0 = N_Y0_Z0 / N_Z0
print("N_Z1:", N_Z1,"N_Z1:",N_Z0)
print("N_Z1_Y1", N_Y1_Z1, "N_Z0_Y0",N_Y0_Z0)
print("P(Y1|Z1):",P_Y1_Z1,"P(Y0|Z0):", P_Y0_Z0)

Train size: 290 Test size: 72
N_Z1: 143 N_Z1: 147
N_Z1_Y1 45 N_Z0_Y0 40
P(Y1|Z1): 0.3146853146853147 P(Y0|Z0): 0.272108843537415

### Step 5: Save to .npy format

In [8]:
out_dir = './data'
header_name = 'header'
# train_ds_name = 'syn_train' # full dataset name
# test_ds_name = 'syn_test'
train_ds_name = 'syn_train_large' # large dataset name
test_ds_name = 'syn_test_large'
# train_ds_name = 'syn_train_small' # small dataset name
# test_ds_name = 'syn_test_small'

save_df(train_df, os.path.join(out_dir, train_ds_name))
save_df(test_df, os.path.join(out_dir, test_ds_name))

## Visualize data

Original Text

In [9]:
sel_ind = 4
print(df['reviewText'].iloc[sel_ind])

Just love this series, and the catch ups with the previous character just love it.
It a good love story

Synthetic type (ie Z= 1/0)

In [10]:
print("Synthetic type:",df['syntheticType'].iloc[sel_ind])

Synthetic type: 0

Synthetic data and its counterfactual

In [11]:
print("Synthetic Text:")
print(df['syntheticText'].iloc[sel_ind])
print()
print("Counterfactual Text:")
print(df['cfSyntheticText'].iloc[sel_ind])

Synthetic Text:
Just love this series, and thexxxxx catch ups with thexxxxx previous character just love it.
It axxxxx good love story

Counterfactual Text:
Just love this series, and thezzzzz catch ups with thezzzzz previous character just love it.
It azzzzz good love story